@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-size: 16px;

    padding-bottom: 3em;
    font-family: Overpass, sans-serif;
}
.container{
    width: 80vw;
    margin: 0 auto;
    background-color: hsla(240, 2%, 79%, 0.3);
}
.mobile{
    display: none;
}

header{
    background-image: url(images/bg-pattern-intro-desktop.svg), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: 100%;
  
    background-repeat: no-repeat;
    background-position: right;
    background-color: linear-gradient(from);
    height: 25em;
    color: #fff;
    border-radius: 0 0 0 5em;
    padding: 2em 5em;
}

.desktop{
    display: flex;
    /* background-color: #fff; */
    justify-content: space-between;
}




.icons{
    display: flex;
}

.top {
    background-image: url(images/illustration-editor-desktop.svg);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 130% center;
    margin-top: 3em;
    margin-bottom: 3em;
  
    height: 40em;
    /* border: 1px solid black; */
}

.top-text{
    width: 40%;
    margin-left: 5em;
}

.top h2 {
    text-align: center;
    color:hsl(237, 23%, 32%);
    font-size: 2rem;
}
.top p, .bottom p{
    color: hsl(208, 49%, 24%)
}
h1{
    color:hsl(237, 23%, 32%);
    margin: 1em 0;
}

.middle-content{
    background-image:url(images/bg-pattern-circles.svg), linear-gradient(to right, hsl(237, 17%, 21%),hsl(237, 23%, 32%));
    background-size: 50%, cover;
    background-position:  -21% 90%;
    background-repeat: no-repeat;
    height: 20em;
    display: flex;
    color:#fff;
    margin: 6em 0;
    border-radius: 0 5em 0 5em;

  
    justify-content: space-between;
}
.middle-content div {
    margin: auto 0;
    width: 50%;
    padding-right: 8em;
    z-index: 3;
    
    
}
.middle-content h2{
    font-size: 1.8rem;
    margin-bottom: 1em;

}
.middle-content p{
    font-size: .9rem;
    color: hsla(0, 0%, 100%, 0.7);
}
.middle-content img{
    padding-left: 7em;
    padding-top: 1.5em;
   
    transform: scale(1.5)
}
.bottom{
        background-image: url(images/illustration-laptop-desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
      
        margin-top: 3em;
        height: 40em;
    background-position: -280px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3em;
}
.bottom-text {
    width: 50%;
    padding-right: 10em;
  
}
footer{
    height: 20em;
    background-color: hsl(240, 10%, 16%);
    border-radius: 0 5em 0 0;
    color: hsl(240, 2%, 79%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 7em;
    padding-left: 5em;
}
footer img{
    height: 3em;
}
.footer-link-container{
    display: flex;
    width: 75%;
    justify-content: space-around;
}

.hero-text-container{
    padding-top: 2em;
color:#fff;
text-align: center;
}
.hero-text-container h3 {
    padding-top: 1em;
    font-size: 3rem;
    font-weight: 300;
}
.hero-text-container p {
    margin-top: 1.3em;
    margin-bottom: 2em;
    color:hsla(0, 0%, 100%, 0.7);
    font-weight: 100;
}
button{
    background: transparent;
    padding: .5em 1.5em;
    border-radius: 1.3em;
    color: #fff;
    
}
.icons{
    display: flex;
  
    width: 50%;
    justify-content: space-between;
    align-items: center;
   
}
.header-logo{
    height: 2.3em;
}

.icons p{
    color: #fff;
}
.icons li a{
    color: hsla(0, 0%, 0%, 0.5);
    font-weight: bold;
}
.icons li a:hover{
    color: hsla(0, 0%, 0%, 1);
}
.signup-btn{
    background-color: #fff;
    color: hsl(356, 100%, 66%);
    font-weight: 600;
    border: none;
    font-size: .9rem;
    padding: .8em 1.8em;
    cursor: pointer;
}
.login-btn{
    border: none;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
    margin-right: 1em;
}
.signup-btn:hover{
    background-color: hsl(355, 100%, 74%);
    color:#fff;
}
.start-btn, .learn-btn{
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
    height: 3em;
    text-align: center;
    border-radius: 1.5em;
}
.start-btn:hover{
    background-color: hsl(355, 100%, 74%);
    color:#fff;
}
.start-btn:hover a{
    color:#fff;
}
.start-btn a{
    color:hsl(356, 100%, 66%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    
}
.learn-btn a{
    font-family: 'Ubuntu', sans-serif;
    color:#fff;
    
}
.learn-btn:hover a{
    color:hsl(355, 100%, 74%);
}
.start-btn{
    background-color: #fff;
    border: none;
    margin-right: 1em;
}
.learn-btn{
    border: 2px solid hsla(0, 0%, 100%, 0.5); 
}
.learn-btn:hover{
    background-color: #fff;
}
.top-heading{
    font-size: .7rem;
    margin: 2.5em 0;
}
.top-second-heading{
    margin-top: 2.5em;
}
.bottom-second-heading {
    margin-top: 2.5em;
}

.footer-logo {
    align-self: flex-start;
    margin-top: 4em;
    font-size: .8rem;
}
.footer-link-container p{
    color:#fff;
    margin-bottom: 2em;
}
.footer-link-container li a{
    color: hsla(0, 0%, 100%, 0.65);
    line-height: 2rem;
}

.list {
    display: none;
}
.list:hover{
    cursor: default;
}

.product{
    position: relative;
}

.product:hover .product-list,
.company:hover .company-list,
.contact:hover .contact-list {
    display: block;
    position: absolute;
    background-color: #fff;
    padding: 1em;
    line-height: 1.5em;
    border-radius: .5em;
   
  
  
    
}
.product:hover .arrow,
.company:hover .arrow,
.contact:hover .arrow{
    transform: rotate(180deg);
}
.product:hover,
.company:hover,
.contact:hover {
    cursor: pointer;
    
   
}
.product:hover p,
.company:hover p,
.contact:hover p{
    text-decoration: underline;
}

footer a:hover{
    text-decoration: underline;
}

